.flex-responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-sm {
    margin: 0;
    flex: 1;
}

@media (max-width: 576px) {
  .flex-responsive {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-sm,
  .btn {
    width: 100%;
    text-align: center;
  }

  .btn {
    margin-top: 10px;
  }
}